@model IEnumerable<FacephiBook.Models.Devolucion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a id="top"></a>
<h1>Devoluciones</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-left:0px">
            <div class="form-group">
                <button class="btn btn-primary" type="button" id="toggleFiltros">
                    Mostrar Filtros
                </button>
            </div>
            <div id="filtros" style="display: none;">
                <form asp-action="Index" class="form-inline">
                    <div class="form-group">
                        <label class="control-label">Nombre:</label>
                        <input type="text" name="Nombre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Seleccionar fecha de devolución:</label>
                        <input type="date" name="FechaDevolucion" class="form-control" />
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default" style="border: solid 1px">Filtrar</button> |
                    <a asp-action="Index" class="btn btn-default" style="border: solid 1px">Lista completa</a>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Usuario Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Fecha Devolución
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    @if (item.Reserva != null && item.Reserva.Usuario != null)
                    {
                        @Html.DisplayFor(modelItem => item.Reserva.Usuario.Nombre)
                    }
                </td>
                <td>
                    @if (item.Reserva != null && item.Reserva.Usuario != null)
                    {
                        @Html.DisplayFor(modelItem => item.Reserva.Usuario.Apellido)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDevolucion)
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="#top" class="bi bi-caret-up-square-fill mb-5" style="position: fixed; bottom: 10px; left: 10px; font-size: 2em; color: #000;"></a>
@section Scripts {
    <script>

        $(document).ready(function () {
            // Toggle visibility of the filter section
            $('#toggleFiltros').click(function () {
                $('#filtros').toggle();
                var filtrosVisible = $('#filtros').is(':visible');
                $(this).text(filtrosVisible ? 'Ocultar Filtros' : 'Mostrar Filtros');
            });
        });
    </script>
}
