@model IEnumerable<FacephiBook.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<style>
    .hover-darken:hover {
        background-color: rgba(0, 0, 0, 0.04); /* Ajusta el color y la opacidad según tus necesidades */
        transition: background-color 0.3s; /* Suaviza la transición */
    }
</style>

<a id="top"></a>
<h1 style="text-align:center"><u>Catálogo</u></h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-left:0px">
            <div class="form-group">
                <button class="btn btn-primary" type="button" id="toggleFiltros">
                    Mostrar Filtros
                </button>
            </div>
            <div id="filtros" style="display: none;">
                <form asp-action="Index" class="form-inline">
                    <div class="form-group">
                        <label class="control-label">Nombre dispositivo:</label>
                        <input type="text" name="strCadenaBusqueda" value="@ViewData["BusquedaActual"]" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Marca de dispositivo:</label>
                        <select name="Marca" id="Marca" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var marca in ViewBag.Marcas)
                            {
                                <option value="@marca">@marca</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cod. Receptor:</label>
                        <input type="text" name="CodReceptor" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Relación Aspecto:</label>
                        <select name="RelacionAspecto" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var relacionAspecto in ViewBag.RelacionesAspecto)
                            {
                                <option value="@relacionAspecto">@relacionAspecto</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado:</label>
                        <select name="Estado" class="form-control">
                            <option value="">Todos</option>
                            @foreach (var estado in ViewBag.Estados)
                            {
                                <option value="@estado">@estado</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Categoría:</label>
                        <select name="Categoria" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                <option value="@categoria">@categoria</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Gama:</label>
                        <select name="Gama" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var gama in ViewBag.Gamas)
                            {
                                <option value="@gama">@gama</option>
                            }
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default" style="border: solid 1px">Filtrar</button> |
                    <a asp-action="Index" class="btn btn-default" style="border: solid 1px">Lista completa</a>
                </form>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                Cod. Receptor
            </th>
            <th>
                Sist. Operativo
            </th>
            <th>
                Relación Aspecto
            </th>
            <th>
                Categoría
            </th>
            <th>
                Gamma
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="hover-darken">

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CodigoReceptor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SistemaOperativo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelacionAspecto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.Nombre)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>
                <td>
                    <form asp-controller="Reservas" asp-action="Create" method="get">
                        <input type="hidden" name="productoId" value="@item.Id" />
                        <button type="submit" class="btn btn-primary btn-sm" @(item.Estado.Nombre == "Bloqueado" ? "disabled" : "")>Reservar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="#top" class="bi bi-caret-up-square-fill mb-5" style="position: fixed; bottom: 10px; left: 10px; font-size: 2em; color: #000;"></a>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#toggleFiltros').click(function () {
                $('#filtros').toggle();
                var filtrosVisible = $('#filtros').is(':visible');
                $(this).text(filtrosVisible ? 'Ocultar Filtros' : 'Mostrar Filtros');
            });
        });
    </script>
}