@model FacephiBook.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            Código Receptor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoReceptor)
        </dd>
        <dt class = "col-sm-2">
Sistema Operativo
       </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SistemaOperativo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Antutu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Antutu)
        </dd>
        <dt class = "col-sm-2">
Relacion Aspecto
</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RelacionAspecto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            Pixel de Cámara Frontal
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PixelFrontal)
        </dd>
        <dt class = "col-sm-2">
        Pixel de Cámara Trasera
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PixelTrasera)
        </dd>
        <dt class = "col-sm-2">
           PixelBining
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PixelBining)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gama)
        </dd>
        <dt class = "col-sm-2">
        Resolución de Cámara
    </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResCamara)
        </dd>
        <dt class = "col-sm-2">
        Resolución de Video        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResVideo)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado.Nombre)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
