@model IEnumerable<FacephiBook.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hover-darken:hover {
        background-color: rgba(0, 0, 0, 0.04); /* Ajusta el color y la opacidad según tus necesidades */
        transition: background-color 0.3s; /* Suaviza la transición */
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 10px 0px darkblue;
        z-index: 1;
        border-color: darkblue;
        border-radius: 7px;
    }

        .dropdown-content button {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: inline-block;
            border: solid 1px;
            border-color: darkblue;
            border-radius: 7px;
            background: none;
            width: auto;
            text-align: center;
        }

            .dropdown-content button:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-toggle.btn-secondary {
        background-color: #004085 !important;
        border-color: #004085 !important;
    }

        .dropdown-toggle.btn-secondary:hover {
            background-color: #032f67 !important;
            border-color: #032f67 !important;
        }
</style>
<a id="top"></a>
<h1 style="padding-left:9px">Productos</h1>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-left:9px">
            <div class="form-group">
                <button class="btn btn-primary" type="button" id="toggleFiltros">
                    Mostrar Filtros
                </button>
            </div>
            <div id="filtros" style="display: none;">
                <form asp-action="Index" class="form-inline">
                    <div class="form-group">
                        <label class="control-label">Nombre dispositivo:</label>
                        <input type="text" name="strCadenaBusqueda" value="@ViewData["BusquedaActual"]" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Marca de dispositivo:</label>
                        <select name="Marca" id="Marca" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var marca in ViewBag.Marcas)
                            {
                                <option value="@marca">@marca</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cod. Receptor:</label>
                        <input type="text" name="CodReceptor" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Relación Aspecto:</label>
                        <select name="RelacionAspecto" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var relacionAspecto in ViewBag.RelacionesAspecto)
                            {
                                <option value="@relacionAspecto">@relacionAspecto</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Estado:</label>
                        <select name="Estado" class="form-control">
                            <option value="">Todos</option>
                            @foreach (var estado in ViewBag.Estados)
                            {
                                <option value="@estado">@estado</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Categoría:</label>
                        <select name="Categoria" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var categoria in ViewBag.Categorias)
                            {
                                <option value="@categoria">@categoria</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Gama:</label>
                        <select name="Gama" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var gama in ViewBag.Gamas)
                            {
                                <option value="@gama">@gama</option>
                            }
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default" style="border: solid 1px">Filtrar</button> |
                    <a asp-action="Index" class="btn btn-default" style="border: solid 1px">Lista completa</a>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<p>
    <a asp-action="Create" style="padding-left:9px">Crear Nuevo</a>
</p>
<table id="miTabla" class="table">
    <thead>
        <tr>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle">Ordenar por</button>
                    <div class="dropdown-content">
                        <button onclick="ordenarTabla(0)">Nombre Ascendente</button>
                        <button onclick="ordenarTabla(0, 'desc')">Nombre Descendente</button>
                    </div>
                </div>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle">Ordenar por</button>
                    <div class="dropdown-content">
                        <button onclick="ordenarTabla(1)">Marca Ascendente</button>
                        <button onclick="ordenarTabla(1, 'desc')">Marca Descendente</button>
                    </div>
                </div>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle">Ordenar por</button>
                    <div class="dropdown-content">
                        <button onclick="ordenarTabla(2)">Cod. Receptor Ascendente</button>
                        <button onclick="ordenarTabla(2, 'desc')">Cod. Receptor Descendente</button>
                    </div>
                </div>
                Cod. Receptor
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle">Ordenar por</button>
                    <div class="dropdown-content">
                        <button onclick="ordenarTabla(3)">Sist. Operativo Ascendente</button>
                        <button onclick="ordenarTabla(3, 'desc')">Sist. Operativo Descendente</button>
                    </div>
                </div>
                Sist. Operativo
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle">Ordenar por</button>
                    <div class="dropdown-content">
                        <button onclick="ordenarTabla(4)">Relación Aspecto Ascendente</button>
                        <button onclick="ordenarTabla(4, 'desc')">Relación Aspecto Descendente</button>
                    </div>
                </div>
                <div style="white-space: nowrap;">Relación Aspecto</div>
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle">Ordenar por</button>
                    <div class="dropdown-content">
                        <button onclick="ordenarTabla(5)">Categoría Ascendente</button>
                        <button onclick="ordenarTabla(5, 'desc')">Categoría Descendente</button>
                    </div>
                </div>
                Categoría
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle">Ordenar por</button>
                    <div class="dropdown-content">
                        <button onclick="ordenarTabla(6)">Gamma Ascendente</button>
                        <button onclick="ordenarTabla(6, 'desc')">Gamma Descendente</button>
                    </div>
                </div>
                Gamma
            </th>
            <th>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle">Ordenar por</button>
                    <div class="dropdown-content">
                        <button onclick="ordenarTabla(7)">Estado Ascendente</button>
                        <button onclick="ordenarTabla(7, 'desc')">Estado Descendente</button>
                    </div>
                </div>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoReceptor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SistemaOperativo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RelacionAspecto)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Gama)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a href="#top" class="bi bi-caret-up-square-fill mb-5" style="position: fixed; bottom: 10px; left: 10px; font-size: 2em; color: #000;"></a>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#toggleFiltros').click(function () {
                $('#filtros').toggle();
                var filtrosVisible = $('#filtros').is(':visible');
                $(this).text(filtrosVisible ? 'Ocultar Filtros' : 'Mostrar Filtros');
            });
        });
        function ordenarTabla(indiceColumna, direccion = 'asc') {
            var tabla, filas, cambiando, i, x, y, debeCambiar, switchcount = 0;
            tabla = document.getElementById("miTabla"); // Asegúrate de que este ID coincide con el de tu tabla
            if (!tabla) {
                console.error('Tabla no encontrada');
                return;
            }
            cambiando = true;

            while (cambiando) {
                cambiando = false;
                filas = tabla.rows;

                for (i = 1; i < (filas.length - 1); i++) {
                    debeCambiar = false;
                    x = filas[i].getElementsByTagName("TD")[indiceColumna];
                    y = filas[i + 1].getElementsByTagName("TD")[indiceColumna];

                    if (direccion === "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            debeCambiar = true;
                            break;
                        }
                    } else if (direccion === "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            debeCambiar = true;
                            break;
                        }
                    }
                }
                if (debeCambiar) {
                    filas[i].parentNode.insertBefore(filas[i + 1], filas[i]);
                    cambiando = true;
                    switchcount++;
                } else {
                    if (switchcount === 0 && direccion === "asc") {
                        direccion = "desc";
                        cambiando = true;
                    }
                }
            }
        }
    </script>
}
