@using System.Globalization
@model FacephiBook.Models.Reserva

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />


<h1>Crea tu reserva</h1>

<h4>
    Estás reservando:
</h4>
<div class="form-group">
    <h6>Código Receptor: @ViewData["CodigoReceptor"]</h6>
    <h6>Marca: @ViewData["Marca"]</h6>
</div>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label for="fechaInicioCalendario">Seleccione la fecha de inicio:</label>
                <input asp-for="FechaInicio" id="fechaInicioCalendario" class="form-control" type="text" readonly />
            </div>
            <div class="form-group">
                <label for="fechaFinalCalendario">Seleccione la fecha final:</label>
                <input asp-for="FechaFinal" id="fechaFinalCalendario" class="form-control" type="text" readonly />
            </div>

          
            <input asp-for="ProductoId" class="form-control" readonly hidden />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>

        <div>
            <a asp-controller="Catalogo" asp-action="Index">Volver</a>
        </div>
    </div>




    <div class="col-md-6">
        <h4>Reservas asociadas a este dispositivo:<br /></h4>

        <div class="reservas-container" style="max-height: 300px; overflow-y: auto;">
            @if (ViewBag.Reservas != null)
            {
                int i = 1;
                foreach (var reserva in ViewBag.Reservas)
                {
                    Usuario usuarioReserva = null;
                    foreach (var usuario in ViewBag.Usuarios)
                    {
                        if (usuario.Id == reserva.UsuarioId)
                        {
                            usuarioReserva = usuario;
                            break;
                        }
                    }

                    if (usuarioReserva != null && DateTime.TryParseExact(reserva.FechaInicio.ToString("dd/MM/yyyy"), "dd/MM/yyyy", CultureInfo.InvariantCulture, DateTimeStyles.None, out DateTime fechaInicio))
                    {
                        <div class="reserva-item">
                            <h6><b>RESERVA @i</b></h6>
                            <p style="line-height:1.2">
                                - <b>Usuario:</b> @usuarioReserva.Nombre @usuarioReserva.Apellido<br />
                                - <b>Fecha de Inicio:</b> @reserva.FechaInicio.ToString("dd/MM/yyyy") <br />
                                - <b>Fecha Final:</b> @reserva.FechaFinal.ToString("dd/MM/yyyy")
                                <hr />
                            </p>
                        </div>

                        i++;
                    }
                }
            }
        </div>
    </div>


</div>



@section Scripts {
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- jQuery UI -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>


    @*<script>
        // Configurar el datepicker para las fechas de inicio y fin
        $(document).ready(function () {
            $('#fechaInicioCalendario').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                minDate: 0, // Solo se puede seleccionar a partir de hoy
                onSelect: function (selectedDate) {
                    $('#fechaFinalCalendario').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#fechaFinalCalendario').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                minDate: 0, // Solo se puede seleccionar a partir de hoy
                onSelect: function (selectedDate) {
                    $('#fechaInicioCalendario').datepicker('option', 'maxDate', selectedDate);
                }
            });
        });
    </script>*@

    <script>
        // Configurar el datepicker para las fechas de inicio y fin
        $(document).ready(function () {
            $('#fechaInicioCalendario').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                minDate: 0, // Solo se puede seleccionar a partir de hoy
                beforeShowDay: function (date) {
                    var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
                    // Obtener fechas bloqueadas desde el ViewData
                    var fechasBloqueadas = @Html.Raw(Json.Serialize(ViewData["FechasBloqueadas"]));
                    // Bloquear fechas de fechasBloqueadas
                    return [!(fechasBloqueadas.includes(string))];
                },
                onSelect: function (selectedDate) {
                    $('#fechaFinalCalendario').datepicker('option', 'minDate', selectedDate);
                }
            });

            $('#fechaFinalCalendario').datepicker({
                dateFormat: 'dd/mm/yy',
                changeMonth: true,
                changeYear: true,
                minDate: 0, // Solo se puede seleccionar a partir de hoy
                beforeShowDay: function (date) {
                    var string = jQuery.datepicker.formatDate('dd/mm/yy', date);
                    // Obtener fechas bloqueadas desde el ViewData
                    var fechasBloqueadas = @Html.Raw(Json.Serialize(ViewData["FechasBloqueadas"]));
                    // Bloquear fechas de fechasBloqueadas
                    return [!(fechasBloqueadas.includes(string))];
                },
                onSelect: function (selectedDate) {
                    $('#fechaInicioCalendario').datepicker('option', 'maxDate', selectedDate);
                }
            });
        });
    </script>

    <!-- Renderizar los scripts de validación -->
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
