@model IEnumerable<FacephiBook.Models.Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a id="top"></a>
<h1>Reservas</h1>

<p>
    <a asp-action="Create">Crear Nueva</a>
</p>
<br />
<div class="container">
    <div class="row">
        <div class="col-md-6" style="padding-left:0px">
            <div class="form-group">
                <button class="btn btn-primary" type="button" id="toggleFiltros">
                    Mostrar Filtros
                </button>
            </div>
            <div id="filtros" style="display: none;">
                <form asp-action="Index" class="form-inline">
                    <div class="form-group">
                        <label class="control-label">Marca de dispositivo:</label>
                        <select name="Marca" id="Marca" class="form-control">
                            <option value="">Todas</option>
                            @foreach (var marca in ViewBag.Marcas)
                            {
                                <option value="@marca">@marca</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cod. Receptor:</label>
                        <input type="text" name="CodReceptor" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nombre:</label>
                        <input type="text" name="Nombre" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Seleccionar fecha:</label>
                        <input type="date" name="FechaInicio" class="form-control"/>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-default" style="border: solid 1px">Filtrar</button> |
                    <a asp-action="Index" class="btn btn-default" style="border: solid 1px">Lista completa</a>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido
            </th>
            <th>
                Codigo Receptor
            </th>
            <th>
                Marca
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Apellido)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.CodigoReceptor)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Marca)
                </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a href="#top" class="bi bi-caret-up-square-fill mb-5" style="position: fixed; bottom: 10px; left: 10px; font-size: 2em; color: #000;"></a>
@section Scripts {
    <script>
        
        $(document).ready(function () {
            // Toggle visibility of the filter section
            $('#toggleFiltros').click(function () {
                $('#filtros').toggle();
                var filtrosVisible = $('#filtros').is(':visible');
                $(this).text(filtrosVisible ? 'Ocultar Filtros' : 'Mostrar Filtros');
            });
        });
    </script>
}
