@model IEnumerable<FacephiBook.Models.Reserva>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Mis reservas</h1>

<p>
    <a asp-controller="Catalogo" asp-action="Index">Nueva Reserva</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Fecha Desde</th>
            <th>Fecha Hasta</th>
            <th>Código Receptor</th>
            <th>@Html.DisplayNameFor(model => model.Producto.Marca)</th>
            <th>Devolución</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var now = DateTime.Now;
            var isFechaInicioMenorQueAhora = item.FechaInicio < now;
            var fechaDevolucion = item.Devolucion?.FechaDevolucion;
            var isDevuelto = fechaDevolucion.HasValue;

            <tr>
                <td>@Html.DisplayFor(modelItem => item.FechaInicio)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaFinal)</td>
                <td>@Html.DisplayFor(modelItem => item.Producto.CodigoReceptor)</td>
                <td>@Html.DisplayFor(modelItem => item.Producto.Marca)</td>
                <td>
                    @if (isDevuelto)
                    {
                        @fechaDevolucion.Value.ToString("dd/MM/yyyy")
                    }
                    else
                    {
                        if (isFechaInicioMenorQueAhora)
                        {
                            <text>No Devuelto</text>
                        }
                        else
                        {
                            <text></text>
                        }
                        
                    }
                </td>
                <td>
                    <form asp-controller="Devoluciones" asp-action="Create" method="post">
                        <input type="hidden" name="ReservaId" value="@item.Id" /> <!-- PASAR A POST ID DE RESERVA -->
                        <button type="submit" class="btn btn-primary btn-sm"
                        @(isDevuelto ? "disabled" : !isFechaInicioMenorQueAhora ? "disabled" : "")>
                            @(isDevuelto ? "Devuelto" : !isFechaInicioMenorQueAhora ? "No disponible" : "Devolver")
                        </button>
                    </form>
                </td>
                <td>| <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a></td>
            </tr>
        }
    </tbody>
</table>
